.container {
  padding: 50px 0 70px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 48px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3 , auto);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2 , auto);
  }

  @media (max-width: 488px) {
    grid-template-columns: repeat(1 , auto);
  }
}
